* {
    margin: 0;
    padding: 0;
}
body {
    margin: 10px;
}

.games {
    display: flex;
    margin-bottom: 20px;
}

.result {
    display: flex;
    margin-bottom: 20px;
}

.to {
    font-size: 1.5em;
    font-weight: bold;
    
}

input {
    margin-bottom: 20px;
}


.winner {
    color:green;
}

.winner2 {
    color:red;
}